{% verbatim %}

<!-- Apps Craft Now Available On -->
<div class="apps-craft-now-available-section" id="apps-craft-available" style="background-image: url(img/now-available-on-round-bg.png);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="apps-craft-tbl">
                    <div class="apps-craft-tbl-c">
                        <div class="apps-craft-now-available-content wow fadeIn">
                            <h3>{{ $t('available.header') }}</h3>
                            <p>{{ $t('available.paragraph') }}</p>

                            <!--<div class="apps-craft-download-store-btn-group">-->
                                <!--<a href="#" class="apps-craft-btn play-store-btn"><img src="img/google-play-logo.png" alt=""></a>-->
                                <!--<a href="#" class="apps-craft-btn app-store-btn"><img src="img/app-store-logo.png" alt=""></a>-->
                            <!--</div> &lt;!&ndash; .apps-craft-download-store-btn-group END &ndash;&gt;-->
                        </div> <!-- .apps-craft-now-available-content END -->
                    </div>
                </div>
                <figure class="apps-craft-app-secreenshort" data-bottom="transform:translateY(180px) translateX(-50%);" data-top="transform:translateY(100px) translateX(-50%);" itemscope itemtype="http://schema.org/ImageGallery">
                    <img src="img/screenshort-now-available.png" alt="Apps Craft App Screenshort">
                </figure> <!-- .apps-craft-app-secreenshort END -->
            </div>
        </div>
    </div>
</div> <!-- .apps-craft-now-available-section END -->

{% endverbatim %}
