{% verbatim %}

<!-- Apps Craft feature -->
<section class="apps-craft-feature-section section-padding" id="apps-craft-feature">
    <div class="container">
        <div class="apps-craft-section-heading">
            <h2>{{ $t("features.header") }}</h2>
        </div> <!-- .apps-craft-section-heading END -->
        <div class="row content-margin-top">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="apps-craft-feature-img text-center" itemscope itemtype="http://schema.org/ImageGallery">
                    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                        <img src="img/feature-app-screenshort.png" alt="Apps Craft Feature Image">

                        <span class="apps-craft-feature-ico icon-1x" data-bottom="transform:translateX(-103px)" data-top="transform:translateX(-63px);">
                                    <img src="img/icon/Icon-1.png" alt="Small Icon">
                                </span> <!-- .apps-craft-feature-ico END -->

                        <span class="apps-craft-feature-ico icon-2x" data-bottom="transform:translateX(-171px)" data-top="transform:translateX(-131px);">
                                    <img src="img/icon/ICON-2.png" alt="Small Icon">
                                </span> <!-- .apps-craft-feature-ico END -->

                        <span class="apps-craft-feature-ico icon-3x" data-bottom="transform:translateX(-153px)" data-top="transform:translateX(-113px);">
                                    <img src="img/icon/12.png" alt="Small Icon">
                                </span> <!-- .apps-craft-feature-ico END -->

                        <span class="apps-craft-feature-ico icon-4x" data-bottom="transform:translateX(-176px)" data-top="transform:translateX(-136px);">
                                    <img src="img/icon/ICON-5.png" alt="Small Icon">
                                </span> <!-- .apps-craft-feature-ico END -->

                        <span class="apps-craft-feature-ico icon-5x" data-bottom="transform:translateX(-97px)" data-top="transform:translateX(-55px);">
                                    <img src="img/icon/ICON-7.png" alt="Small Icon">
                                </span> <!-- .apps-craft-feature-ico END -->

                        <span class="apps-craft-feature-ico icon-6x" data-bottom="transform:translateY(-130px)" data-top="transform:translateY(-90px);">
                                    <img src="img/icon/15.png" alt="Small Icon">
                                </span> <!-- .apps-craft-feature-ico END -->

                        <span class="apps-craft-feature-ico icon-7x" data-bottom="transform:translateY(-134px)" data-top="transform:translateY(-94px);">
                                    <img src="img/icon/icon-3.png" alt="Small Icon">
                                </span> <!-- .apps-craft-feature-ico END -->

                        <span class="apps-craft-feature-ico icon-8x" data-bottom="transform:translateY(-160px)" data-top="transform:translateY(-120px);">
                                    <img src="img/icon/ICON--9.png" alt="Small Icon">
                                </span> <!-- .apps-craft-feature-ico END -->

                        <span class="apps-craft-feature-ico icon-9x" data-bottom="transform:translateX(-110px)" data-top="transform:translateX(-70px);">
                                    <img src="img/icon/ICON-11.png" alt="Small Icon">
                                </span> <!-- .apps-craft-feature-ico END -->

                        <span class="apps-craft-feature-ico icon-10x" data-bottom="transform:translateY(26px)" data-top="transform:translateY(26px);">
                                    <img src="img/icon/13.png" alt="Small Icon">
                                </span> <!-- .apps-craft-feature-ico END -->

                        <span class="apps-craft-feature-ico icon-11x" data-bottom="transform:translateX(74px)" data-top="transform:translateX(34px);">
                                    <img src="img/icon/ICon4.png" alt="Small Icon">
                                </span> <!-- .apps-craft-feature-ico END -->

                        <span class="apps-craft-feature-ico icon-12x" data-bottom="transform:translateX(160px)" data-top="transform:translateX(120px);">
                                    <img src="img/icon/ICON-10.png" alt="Small Icon">
                                </span> <!-- .apps-craft-feature-ico END -->

                        <span class="apps-craft-feature-ico icon-13x" data-bottom="transform:translateX(150px)" data-top="transform:translateX(110px);">
                                    <img src="img/icon/ICON-6.png" alt="Small Icon">
                                </span> <!-- .apps-craft-feature-ico END -->

                        <span class="apps-craft-feature-ico icon-14x" data-bottom="transform:translateX(80px)" data-top="transform:translateX(40px);">
                                    <img src="img/icon/15.png" alt="Small Icon">
                                </span> <!-- .apps-craft-feature-ico END -->

                        <span class="apps-craft-feature-ico icon-15x" data-bottom="transform:translateX(120px)" data-top="transform:translateX(80px);">
                                    <img src="img/icon/13.png" alt="Small Icon">
                                </span> <!-- .apps-craft-feature-ico END -->

                        <span class="apps-craft-feature-ico icon-16x" data-bottom="transform:translateX(-140px)" data-top="transform:translateX(-100px);">
                                    <img src="img/icon/18.png" alt="Small Icon">
                                </span> <!-- .apps-craft-feature-ico END -->
                    </figure>
                </div> <!-- .apps-craft-feature-img END -->
            </div>

            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="apps-craft-feature-container clear-both">
                    <div class="apps-craft-single-feature">
                        <div class="apps-craft-feature-content wow fadeIn" data-wow-delay="200ms">
                            <i class="zmdi zmdi-cutlery zmdi-hc-fw"></i>
                            <h3>{{ $t("features.list.0.header") }}</h3>
                            <p>{{ $t("features.list.0.paragraph") }}</p>
                        </div> <!-- .apps-craft-feature-content END -->
                    </div> <!-- .apps-craft-single-feature END -->
                    <div class="apps-craft-single-feature">
                        <div class="apps-craft-feature-content wow fadeIn" data-wow-delay="400ms">
                            <i class="zmdi zmdi-graphic-eq zmdi-hc-fw"></i>
                            <h3>{{ $t("features.list.1.header") }}</h3>
                            <p>{{ $t("features.list.1.paragraph") }}</p>
                        </div> <!-- .apps-craft-feature-content END -->
                    </div> <!-- .apps-craft-single-feature END -->
                    <div class="apps-craft-single-feature">
                        <div class="apps-craft-feature-content wow fadeIn" data-wow-delay="600ms">
                            <i class="zmdi zmdi-wifi-alt zmdi-hc-fw"></i>
                            <h3>{{ $t("features.list.2.header") }}</h3>
                            <p>{{ $t("features.list.2.paragraph") }}</p>
                        </div> <!-- .apps-craft-feature-content END -->
                    </div> <!-- .apps-craft-single-feature END -->
                    <div class="apps-craft-single-feature">
                        <div class="apps-craft-feature-content wow fadeIn" data-wow-delay="800ms">
                            <i class="zmdi zmdi-wallpaper zmdi-hc-fw"></i>
                            <h3>{{ $t("features.list.3.header") }}</h3>
                            <p>{{ $t("features.list.3.paragraph") }}</p>
                        </div> <!-- .apps-craft-feature-content END -->
                    </div> <!-- .apps-craft-single-feature END -->
                </div> <!-- .apps-craft-feature-container END -->
            </div>
        </div>
    </div>
</section>

{% endverbatim %}
