{% verbatim %}

<!-- Apps Craft Footer Section -->
<footer class="apps-craft-footer-section" id="apps-craft-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="apps-craft-footer-logo-and-social">
                    <figure class="apps-craft-footer-logo text-center">
                        <a href="index.html#">
                            <img src="img/footer-logo.png" alt="Apps Craft Footer Logo" class="wow fadeInUp" data-wow-delay=".2s">
                        </a>
                    </figure> <!-- .apps-craft-footer-logo END -->

                    <!--<div class="apps-craft-social-link wow fadeInUp" data-wow-delay=".4s">-->
                        <!--<ul>-->
                            <!--<li><a href="index.html#"><i class="zmdi zmdi-facebook zmdi-hc-fw"></i></a></li>-->
                            <!--<li><a href="index.html#"><i class="zmdi zmdi-google-plus zmdi-hc-fw"></i></a></li>-->
                            <!--<li><a href="index.html#"><i class="zmdi zmdi-twitter zmdi-hc-fw"></i></a></li>-->
                        <!--</ul>-->
                    <!--</div> &lt;!&ndash; .apps-craft-social-link END &ndash;&gt;-->

                </div> <!-- .apps-craft-footer-logo-and-social END -->
                <div class="apps-craft-footer-menu-and-copyright-txt clear-both">
                    <div class="apps-craft-copyright-txt wow fadeInUp" data-wow-delay=".6s">
                        <p>&copy; 2018 Auto Dating. All Right Reserved</p>
                    </div> <!-- .apps-craft-copyright-txt END -->
                    <nav class="apps-craft-footer-menu wow fadeInUp" data-wow-delay=".8s">
                        <ul>
                            <li><a href="index.html#apps-craft-home">{{ $t('nav.home') }}</a></li>
                            <li><a href="index.html#apps-craft-feature">{{ $t('nav.feature') }}</a></li>
                            <!--<li><a href="index.html#apps-craft-about">about</a></li>-->
                            <!--<li><a href="index.html#apps-craft-team">team</a></li>-->
                            <li><a href="index.html#apps-craft-pricing">{{ $t('nav.pricing') }}</a></li>
                        </ul>
                    </nav> <!-- .apps-craft-footer-menu END -->
                </div> <!-- .apps-craft-footer-menu-and-copyright-txt END -->
            </div>
        </div>
    </div>
</footer> <!-- .apps-craft-footer-section END -->

{% endverbatim %}
