{% extends 'base.html.twig' %}

{% block title %}Auto Dating - Automate arranging appointments from dating sites{% endblock %}

{% block stylesheets %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Auto Dating - Automate arranging appointments from dating sites">
    <meta name="author" content="pixiefy">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">


    <link rel="stylesheet" href="css/owl.theme.css">
    <link rel="stylesheet" href="css/owl.transitions.css">
    <link rel="stylesheet" href="css/owl.carousel.css">
    <!-- Owl Stylesheet -->
    <link rel="stylesheet" href="css/magnific-popup.css">
    <!-- Magnific PopUP Stylesheet -->
    <link rel="stylesheet" href="css/isotope.css">
    <!-- Isotope Stylesheet -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Bootstrap Stylesheet -->
    <link rel="stylesheet" href="css/et-lant-font.css" />
    <!-- Et-Lant Font Stylesheet -->
    <link rel="stylesheet" href="css/3dslider.css" />
    <!-- 3D Slider Stylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.min.css" />
    <!-- Animate Stylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <!-- Iconic Font Stylesheet -->

    <link rel="stylesheet" href="style.css">
    <!-- Main Style.css Stylesheet -->

    <link rel="stylesheet" href="css/responsive.css">
    <!-- Resposive.css Stylesheet -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <!-- Vue toastr -->

    <link rel="stylesheet" href="css/custom.css">
    <!-- Main Style.css Stylesheet -->
{% endblock %}

{% block body %}

    <!-- Apps Craft Body Start -->
    <div id="preloader"></div>

    <div id="app">

        {% include 'default/header.html' %}
        {% include 'default/welcome.html' %}
        {% include 'default/feature.html' %}
        {% include 'default/video.html' %}

        {% include 'default/pricing.html' %}

        {#{% include 'default/stats.html' %}#}
        {% include 'default/why.html' %}
        {#{% include 'default/screen.html' %}#}
        {% include 'default/testimonials.html' %}
        {% include 'default/available.html' %}
        {% include 'default/faq.html' %}

        {% include 'default/pricing.html' %}

        {#{% include 'default/team.html' %}#}
        {#{% include 'default/subscribe.html' %}#}
        {% include 'default/footer.html' %}

        <!-- use the modal component, pass in the prop -->
        {% include 'default/modal.html' %}


    </div>
{% endblock %}

{% block javascripts %}
    <!-- js File Start -->
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
            m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(50182624, "init", {
            id:50182624,
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
        });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/50182624" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
    <noscript><div><img src="https://mc.yandex.ru/watch/50182624" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
    <noscript><div><img src="https://mc.yandex.ru/watch/50182624" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

    <!--<script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>-->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <!-- jquery-3.1.1.min.js -->
    <script type="text/javascript" src="js/jquery.ajaxchimp.min.js"></script>
    <!--jquery.ajaxchimp.min.js  -->
    <script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
    <!--jquery.easing.1.3.js  -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- bootstrap.min.js -->
    <script src="js/owl.carousel.min.js"></script>
    <!-- owl.carousel.min.js -->
    <script src="js/isotope.pkgd.min.js"></script>
    <!-- isotope.pkgd.min.js -->
    <script src="js/jquery.magnific-popup.min.js"></script>
    <!-- jquery.magnific-popup.min.js -->
    <script src="js/skrollr.min.js"></script>
    <!-- skrollr.min.js -->
    <script src="js/utils.js"></script>
    <!-- utils.js -->
    <script src="js/jquery.parallax.js"></script>
    <!-- jquery.parallax.js -->
    <script src="js/wow.js"></script>
    <!-- wow.js -->
    <script src="js/jquery.tubular.1.0.js"></script>
    <!-- jquery.tubular.1.0.js -->
    <script src="js/particles.js"></script>
    <!-- jquery.particles.js -->

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- axios -->

    <script src="js/main.js"></script>
    <!-- main.js -->

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- VUE -->
    <script src="https://unpkg.com/vue-i18n/dist/vue-i18n.js"></script>
    <!-- VUE translation -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <!-- VUE toastr -->

    <script>window.$czater = {tok: "f15fcda1613ec14fd7b52d67b9e8da870fe7d91b", domain: "https://www.czater.pl/", login: undefined, email: undefined, language: '{{ lang }}'};</script><script src="https://www.czater.pl/assets/modules/chat/js/chat.js" async></script>

    <script>
        window.PRICE_BASE = {{ basePrice }};
        window.VISIT_ID = '{{ visitId }}';
    </script>

    <script src="js/custom.js"></script>


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125016819-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-125016819-1');
    </script>



{% endblock %}