{% verbatim %}

<!-- Apps Craft Pricing -->
<section class="apps-craft-pricing-section section-padding" id="apps-craft-pricing">
    <div class="container">
        <div class="apps-craft-section-heading">
            <h2>{{ $t('pricing.header') }}</h2>
        </div> <!-- .apps-craft-section-heading END -->

        <div class="row content-margin-top">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="apps-craft-single-pricing apps-craft-pricing-1 wow fadeIn" data-wow-delay=".4s">
                    <div class="apps-craft-pricing-head">
                        <h3>{{ $t('pricing.list.0.name') }}</h3>
                    </div> <!-- .apps-craft-pricing-head END -->
                    <div class="apps-craft-pricing-body">
                        <h2>{{ $t('pricing.list.0.price') }}</h2>
                        <p>{{ $t('pricing.list.0.up') }}</p>
                        <p>{{ $t('pricing.list.0.photo') }}</p>
                        <p>{{ $t('pricing.list.0.stats') }}</p>
                        <br>
                        <br>
                        <br>

                        <a href="index.html#" class="apps-craft-btn solid-color">{{ $t('pricing.buy') }}</a>
                    </div> <!-- .apps-craft-pricing-body END -->
                </div> <!-- .apps-craft-single-pricing END .apps-craft-pricing-1 END -->
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="apps-craft-single-pricing apps-craft-pricing-2 wow fadeIn" data-wow-delay=".5s">
                    <div class="apps-craft-pricing-head">
                        <h3>{{ $t('pricing.list.1.name') }}</h3>
                    </div> <!-- .apps-craft-pricing-head END -->
                    <div class="apps-craft-pricing-body">
                        <h2>{{ $t('pricing.list.1.price') }}</h2>
                        <p>{{ $t('pricing.list.1.up') }}</p>
                        <p>{{ $t('pricing.list.1.photo') }}</p>
                        <p>{{ $t('pricing.list.1.stats') }}</p>
                        <p>{{ $t('pricing.list.1.open') }}</p>
                        <br>
                        <br>

                        <a href="index.html#" class="apps-craft-btn solid-color">{{ $t('pricing.buy') }}</a>
                    </div> <!-- .apps-craft-pricing-body END -->
                </div> <!-- .apps-craft-single-pricing END .apps-craft-pricing-2 END -->
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="apps-craft-single-pricing apps-craft-pricing-3 wow fadeIn" data-wow-delay=".6s">
                    <div class="apps-craft-pricing-head">
                        <h3>{{ $t('pricing.list.2.name') }}</h3>
                    </div> <!-- .apps-craft-pricing-head END -->
                    <div class="apps-craft-pricing-body">
                        <h2>{{ $t('pricing.list.2.price') }}</h2>
                        <p>{{ $t('pricing.list.2.up') }}</p>
                        <p>{{ $t('pricing.list.2.photo') }}</p>
                        <p>{{ $t('pricing.list.2.stats') }}</p>
                        <p>{{ $t('pricing.list.2.open') }}</p>
                        <p>{{ $t('pricing.list.2.bonuses') }}</p>

                        <a href="index.html#" class="apps-craft-btn solid-color">{{ $t('pricing.buy') }}</a>
                    </div> <!-- .apps-craft-pricing-body END -->
                </div> <!-- .apps-craft-single-pricing END .apps-craft-pricing-3 END -->
            </div>
        </div>
    </div>
</section> <!-- .apps-craft-pricing-section END -->

{% endverbatim %}
