{% verbatim %}

<!-- Apps Craft Screen Short Slider Section -->
<section class="apps-carft-screen-short-ssection section-padding" id="apps-carft-screen-short">
    <div class="container">
        <div class="apps-craft-section-heading">
            <h2>App screen</h2>
        </div> <!-- .apps-craft-section-heading END -->

        <div class="content-margin-top">
            <div class="apps-carft-screen-short-content">
                <div class="app-screen-mobile-image"></div>
                <div class="apps-craft-screenshort">
                    <div id="carousel">
                        <figure><img src="img/screenshort-slider-img-1.png" alt=""></figure>
                        <figure><img src="img/screenshort-slider-img-2.png" alt=""></figure>
                        <figure><img src="img/screenshort-slider-img-3.png" alt=""></figure>
                        <figure><img src="img/screenshort-slider-img-4.png" alt=""></figure>
                        <figure><img src="img/screenshort-slider-img-5.png" alt=""></figure>
                        <figure><img src="img/screenshort-slider-img-1.png" alt=""></figure>
                        <figure><img src="img/screenshort-slider-img-2.png" alt=""></figure>
                        <figure><img src="img/screenshort-slider-img-3.png" alt=""></figure>
                        <figure><img src="img/screenshort-slider-img-4.png" alt=""></figure>
                        <figure><img src="img/screenshort-slider-img-5.png" alt=""></figure>
                        <figure><img src="img/screenshort-slider-img-1.png" alt=""></figure>
                        <figure><img src="img/screenshort-slider-img-2.png" alt=""></figure>
                    </div>
                </div>
                <div id="options">
                    <p id="navigation">
                        <button id="previous" data-increment="-1" class="zmdi zmdi-long-arrow-left zmdi-hc-fw"></button>
                        <button id="next" data-increment="1" class="zmdi zmdi-long-arrow-right zmdi-hc-fw"></button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endverbatim %}
