{% verbatim %}

<!-- Apps Craft Fun Factory -->
<div class="apps-craft-fun-factory-section" id="fun-factory">
    <div class="fun-factorey-paralx-bg-1" data-0="background-position:-10000px 0px;" data-100000="background-position:50000px 0px;">
        <div class="fun-factorey-paralx-bg-2" data-0="background-position:10000px 0px;" data-100000="background-position:-50000px 0px;">
            <div class="container">
                <div class="row">
                    <div class="apps-craft-tbl">
                        <div class="apps-craft-tbl-c">
                            <div class="apps-craft-fun-factory-wraper clear-both">
                                <div class="col-md-3 col-sm-3 col-xs-6">
                                    <div class="apps-craft-single-fun">
                                        <i class="zmdi zmdi-account zmdi-hc-fw"></i>
                                        <h5>2.5 M</h5>
                                        <h6>Users</h6>
                                    </div> <!-- .apps-craft-single-fun END -->
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-6">
                                    <div class="apps-craft-single-fun">
                                        <i class="zmdi zmdi-download zmdi-hc-fw"></i>
                                        <h5>3.6 M</h5>
                                        <h6>Downloads</h6>
                                    </div> <!-- .apps-craft-single-fun END -->
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-6">
                                    <div class="apps-craft-single-fun">
                                        <i class="zmdi zmdi-star zmdi-hc-fw"></i>
                                        <h5>1.5 K</h5>
                                        <h6>Reviews</h6>
                                    </div> <!-- .apps-craft-single-fun END -->
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-6">
                                    <div class="apps-craft-single-fun">
                                        <i class="zmdi zmdi-xbox zmdi-hc-fw"></i>
                                        <h5>100</h5>
                                        <h6>Clients</h6>
                                    </div> <!-- .apps-craft-single-fun END -->
                                </div>
                            </div> <!-- .apps-craft-fun-factory-wraper END -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- .apps-craft-fun-factory-section END -->

{% endverbatim %}
