{% verbatim %}

<!-- Apps Craft Subscribe Section -->
<section class="apps-craft-sub-scribe-section section-padding" id="apps-craft-subscribe">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="apps-craft-subscribe-wraper wow fadeIn">
                    <div class="apps-craft-subscribe-content">
                        <h2><span>{{ $t("header.sub") }}</span> {{ $t("header.news") }}</h2>
                        <div class="apps-craft-subscribe-form clear-both">
                            <form class="mc-form top">
                                <input class="mc-email" id="mc-email-2" :placeholder="$t('header.email')"  type="email" required="required">
                                <input class="submit-btn" type="submit" :value="$t('header.sub')">
                                <label for="mc-email-2"></label>
                            </form>
                        </div> <!-- .apps-craft-subscribe-form END -->
                    </div> <!-- .apps-craft-subscribe-content END -->
                    <div class="apps-craft-3-bar">
                        <img src="img/sub-section-3bar.png" alt="Apps Craft Simple 3 Bars">
                    </div>
                </div> <!-- .apps-craft-subscribe-wraper END -->
            </div>
        </div>
    </div>
</section> <!-- .apps-craft-sub-scribe-section END -->

{% endverbatim %}
