{% verbatim %}

<!-- Apps Craft Team -->
<!--<section class="apps-craft-team-section" id="apps-craft-team">-->
<!--<div class="team-parallax-bg section-padding" data-0="background-position:10000px 50%;" data-100000="background-position:50000px 0px;">-->
<!--<div class="container">-->
<!--<div class="apps-craft-section-heading">-->
<!--<h2>team</h2>-->
<!--</div> &lt;!&ndash; .apps-craft-section-heading END &ndash;&gt;-->
<!--<div class="row content-margin-top">-->
<!--<div class="col-md-3 col-sm-3 col-xs-6 apps-craft-team">-->
<!--<div class="apps-craft-single-team wow fadeIn" data-wow-delay="200ms" itemscope itemtype="http://schema.org/ImageGallery">-->
<!--<figure class="apps-craft-team-img" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">-->
<!--<div class="apps-craft-team-member-pic">-->
<!--<img src="img/team-member-1.jpg" alt="Apps Craft Team Member Image">-->

<!--<div class="apps-craft-team-hover">-->
<!--<div class="apps-craft-social-link">-->
<!--<ul>-->
<!--<li><a href="index.html#"><i class="zmdi zmdi-facebook zmdi-hc-fw"></i></a></li>-->
<!--<li><a href="index.html#"><i class="zmdi zmdi-google-plus zmdi-hc-fw"></i></a></li>-->
<!--<li><a href="index.html#"><i class="zmdi zmdi-twitter zmdi-hc-fw"></i></a></li>-->
<!--</ul>-->
<!--</div> &lt;!&ndash; .apps-craft-social-link END &ndash;&gt;-->
<!--</div>-->
<!--</div> &lt;!&ndash; .apps-craft-team-member-pic END &ndash;&gt;-->
<!--</figure> &lt;!&ndash; .apps-craft-team-img END &ndash;&gt;-->

<!--<div class="apps-craft-team-bio">-->
<!--<h2>jhON CENA</h2>-->
<!--<h5>Devoloper, <span>Apps Craft</span></h5>-->
<!--</div> &lt;!&ndash; .apps-craft-team-bio END &ndash;&gt;-->
<!--</div> &lt;!&ndash; .apps-craft-single-team END &ndash;&gt;-->
<!--</div>-->
<!--<div class="col-md-3 col-sm-3 col-xs-6 apps-craft-team">-->
<!--<div class="apps-craft-single-team wow fadeIn" data-wow-delay="400ms" itemscope itemtype="http://schema.org/ImageGallery">-->
<!--<figure class="apps-craft-team-img" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">-->
<!--<div class="apps-craft-team-member-pic">-->
<!--<img src="img/team-member-2.jpg" alt="Apps Craft Team Member Image">-->

<!--<div class="apps-craft-team-hover">-->
<!--<div class="apps-craft-social-link">-->
<!--<ul>-->
<!--<li><a href="index.html#"><i class="zmdi zmdi-facebook zmdi-hc-fw"></i></a></li>-->
<!--<li><a href="index.html#"><i class="zmdi zmdi-google-plus zmdi-hc-fw"></i></a></li>-->
<!--<li><a href="index.html#"><i class="zmdi zmdi-twitter zmdi-hc-fw"></i></a></li>-->
<!--</ul>-->
<!--</div> &lt;!&ndash; .apps-craft-social-link END &ndash;&gt;-->
<!--</div>-->
<!--</div> &lt;!&ndash; .apps-craft-team-member-pic END &ndash;&gt;-->
<!--</figure> &lt;!&ndash; .apps-craft-team-img END &ndash;&gt;-->

<!--<div class="apps-craft-team-bio">-->
<!--<h2>Randy orton</h2>-->
<!--<h5>Ui Designer, <span>Apps Craft</span></h5>-->
<!--</div> &lt;!&ndash; .apps-craft-team-bio END &ndash;&gt;-->
<!--</div> &lt;!&ndash; .apps-craft-single-team END &ndash;&gt;-->
<!--</div>-->
<!--<div class="col-md-3 col-sm-3 col-xs-6 apps-craft-team">-->
<!--<div class="apps-craft-single-team wow fadeIn" data-wow-delay="600ms" itemscope itemtype="http://schema.org/ImageGallery">-->
<!--<figure class="apps-craft-team-img" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">-->
<!--<div class="apps-craft-team-member-pic">-->
<!--<img src="img/team-member-3.jpg" alt="Apps Craft Team Member Image">-->

<!--<div class="apps-craft-team-hover">-->
<!--<div class="apps-craft-social-link">-->
<!--<ul>-->
<!--<li><a href="index.html#"><i class="zmdi zmdi-facebook zmdi-hc-fw"></i></a></li>-->
<!--<li><a href="index.html#"><i class="zmdi zmdi-google-plus zmdi-hc-fw"></i></a></li>-->
<!--<li><a href="index.html#"><i class="zmdi zmdi-twitter zmdi-hc-fw"></i></a></li>-->
<!--</ul>-->
<!--</div> &lt;!&ndash; .apps-craft-social-link END &ndash;&gt;-->
<!--</div>-->
<!--</div> &lt;!&ndash; .apps-craft-team-member-pic END &ndash;&gt;-->
<!--</figure> &lt;!&ndash; .apps-craft-team-img END &ndash;&gt;-->

<!--<div class="apps-craft-team-bio">-->
<!--<h2>mark henry</h2>-->
<!--<h5>Ux Designer, <span>Apps Craft</span></h5>-->
<!--</div> &lt;!&ndash; .apps-craft-team-bio END &ndash;&gt;-->
<!--</div> &lt;!&ndash; .apps-craft-single-team END &ndash;&gt;-->
<!--</div>-->
<!--<div class="col-md-3 col-sm-3 col-xs-6 apps-craft-team">-->
<!--<div class="apps-craft-single-team wow fadeIn" data-wow-delay="800ms" itemscope itemtype="http://schema.org/ImageGallery">-->
<!--<figure class="apps-craft-team-img" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">-->
<!--<div class="apps-craft-team-member-pic">-->
<!--<img src="img/team-member-4.jpg" alt="Apps Craft Team Member Image">-->

<!--<div class="apps-craft-team-hover">-->
<!--<div class="apps-craft-social-link">-->
<!--<ul>-->
<!--<li><a href="index.html#"><i class="zmdi zmdi-facebook zmdi-hc-fw"></i></a></li>-->
<!--<li><a href="index.html#"><i class="zmdi zmdi-google-plus zmdi-hc-fw"></i></a></li>-->
<!--<li><a href="index.html#"><i class="zmdi zmdi-twitter zmdi-hc-fw"></i></a></li>-->
<!--</ul>-->
<!--</div> &lt;!&ndash; .apps-craft-social-link END &ndash;&gt;-->
<!--</div>-->
<!--</div> &lt;!&ndash; .apps-craft-team-member-pic END &ndash;&gt;-->
<!--</figure> &lt;!&ndash; .apps-craft-team-img END &ndash;&gt;-->

<!--<div class="apps-craft-team-bio">-->
<!--<h2>Katy Perry</h2>-->
<!--<h5>Marketer, <span>Apps Craft</span></h5>-->
<!--</div> &lt;!&ndash; .apps-craft-team-bio END &ndash;&gt;-->
<!--</div> &lt;!&ndash; .apps-craft-single-team END &ndash;&gt;-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</section> &lt;!&ndash; .apps-craft-team-section END &ndash;&gt;-->

{% endverbatim %}
