{% verbatim %}

<!-- Apps Craft Testimonial Section -->
<section class="apps-craft-testimonial-section section-padding" id="apps-craft-testimonial">
    <div class="container">
        <div class="apps-craft-section-heading white">
            <h2>{{ $t('testimonials.header') }}</h2>
        </div> <!-- .apps-craft-section-heading END -->
        <div class="content-margin-top">
            <div class="apps-craft-testimonial-slider-wraper clear-both">
                <div id="apps-craft-commentor-slider" class="wow fadeIn" itemscope itemtype="http://schema.org/ImageGallery">
                    <div class="apps-craft-testimonial-content clear-both">
                        <div class="apps-craft-testimonial-single clear-both">
                            <div class="apps-craft-commentor-img-continer">
                                <figure class="apps-craft-commentor-img" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                    <img src="img/people/beau.png" alt="">

                                    <figcaption>
                                        <i class="zmdi zmdi-comment-outline zmdi-hc-fw"></i>
                                    </figcaption>
                                </figure> <!-- .apps-craft-commentor-img END -->
                            </div> <!-- .apps-craft-commentor-img-continer END -->

                            <div class="apps-craft-rating-and-bio clear-both">
                                <p>{{ $t('testimonials.list.0.paragraph') }}</p>
                                <div class="apps-craft-rating">
                                    <ul>
                                        <li><a href="#"><i class="zmdi zmdi-star zmdi-hc-fw"></i></a></li>
                                        <li><a href="#"><i class="zmdi zmdi-star zmdi-hc-fw"></i></a></li>
                                        <li><a href="#"><i class="zmdi zmdi-star zmdi-hc-fw"></i></a></li>
                                        <li><a href="#"><i class="zmdi zmdi-star zmdi-hc-fw"></i></a></li>
                                        <li><a href="#"><i class="zmdi zmdi-star-half zmdi-hc-fw"></i></a></li>
                                    </ul>
                                </div> <!-- .apps-craft-rating END -->

                                <div class="apps-craft-commentor-bio">
                                    <h3>{{ $t('testimonials.list.0.name') }} - <span>{{ $t('testimonials.list.0.age') }}</span></h3>
                                </div> <!-- .apps-craft-commentor-bio END -->
                            </div> <!-- .apps-craft-ration-and-bio END -->
                        </div> <!-- .apps-craft-testimonial-single END -->
                    </div> <!-- .apps-craft-testimonial-content END -->
                    <div class="apps-craft-testimonial-content clear-both">
                        <div class="apps-craft-testimonial-single clear-both">
                            <div class="apps-craft-commentor-img-continer">
                                <figure class="apps-craft-commentor-img" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                    <img src="img/people/luke.png" alt="">

                                    <figcaption>
                                        <i class="zmdi zmdi-comment-outline zmdi-hc-fw"></i>
                                    </figcaption>
                                </figure> <!-- .apps-craft-commentor-img END -->
                            </div> <!-- .apps-craft-commentor-img-continer END -->

                            <div class="apps-craft-rating-and-bio clear-both">
                                <p>{{ $t('testimonials.list.1.paragraph') }}</p>
                                <div class="apps-craft-rating">
                                    <ul>
                                        <li><a href="#"><i class="zmdi zmdi-star zmdi-hc-fw"></i></a></li>
                                        <li><a href="#"><i class="zmdi zmdi-star zmdi-hc-fw"></i></a></li>
                                        <li><a href="#"><i class="zmdi zmdi-star zmdi-hc-fw"></i></a></li>
                                        <li><a href="#"><i class="zmdi zmdi-star zmdi-hc-fw"></i></a></li>
                                        <li><a href="#"><i class="zmdi zmdi-star-half zmdi-hc-fw"></i></a></li>
                                    </ul>
                                </div> <!-- .apps-craft-rating END -->

                                <div class="apps-craft-commentor-bio">
                                    <h3>{{ $t('testimonials.list.1.name') }} - <span>{{ $t('testimonials.list.1.age') }}</span></h3>
                                </div> <!-- .apps-craft-commentor-bio END -->
                            </div> <!-- .apps-craft-ration-and-bio END -->
                        </div> <!-- .apps-craft-testimonial-single END -->
                    </div> <!-- .apps-craft-testimonial-content END -->

                    <div class="apps-craft-testimonial-content clear-both">
                        <div class="apps-craft-testimonial-single clear-both">
                            <div class="apps-craft-commentor-img-continer">
                                <figure class="apps-craft-commentor-img" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                    <img src="img/people/ricky.jpg" alt="">

                                    <figcaption>
                                        <i class="zmdi zmdi-comment-outline zmdi-hc-fw"></i>
                                    </figcaption>
                                </figure> <!-- .apps-craft-commentor-img END -->
                            </div> <!-- .apps-craft-commentor-img-continer END -->

                            <div class="apps-craft-rating-and-bio clear-both">
                                <p>{{ $t('testimonials.list.2.paragraph') }}</p>
                                <div class="apps-craft-rating">
                                    <ul>
                                        <li><a href="#"><i class="zmdi zmdi-star zmdi-hc-fw"></i></a></li>
                                        <li><a href="#"><i class="zmdi zmdi-star zmdi-hc-fw"></i></a></li>
                                        <li><a href="#"><i class="zmdi zmdi-star zmdi-hc-fw"></i></a></li>
                                        <li><a href="#"><i class="zmdi zmdi-star zmdi-hc-fw"></i></a></li>
                                        <li><a href="#"><i class="zmdi zmdi-star-half zmdi-hc-fw"></i></a></li>
                                    </ul>
                                </div> <!-- .apps-craft-rating END -->

                                <div class="apps-craft-commentor-bio">
                                    <h3>{{ $t('testimonials.list.2.name') }} - <span>{{ $t('testimonials.list.2.age') }}</span></h3>
                                </div> <!-- .apps-craft-commentor-bio END -->
                            </div> <!-- .apps-craft-ration-and-bio END -->
                        </div> <!-- .apps-craft-testimonial-single END -->
                    </div> <!-- .apps-craft-testimonial-content END -->
                </div> <!-- #apps-craft-testimonial-slider END -->
                <div class="customNavigation">
                    <a class="prev"><i class="zmdi zmdi-long-arrow-left zmdi-hc-fw"></i></a>
                    <a class="next"><i class="zmdi zmdi-long-arrow-right zmdi-hc-fw"></i></a>
                </div>
            </div>

            <div id="apps-craft-testimonial-thumb" class="text-center wow fadeIn" itemscope itemtype="http://schema.org/ImageGallery">
                <div class="item">
                    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                        <img src="img/people/beau.png" alt="Apps Craft Commentor Thumb">
                    </figure>
                </div>
                <div class="item">
                    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                        <img src="img/people/luke.png" alt="Apps Craft Commentor Thumb">
                    </figure>
                </div>
                <div class="item">
                    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                        <img src="img/people/ricky.jpg" alt="Apps Craft Commentor Thumb">
                    </figure>
                </div>
            </div> <!-- #apps-craft-testimonial-thumb-slider END -->
        </div>
    </div>
</section> <!-- .apps-craft-testimonial-section END -->

{% endverbatim %}
