{% verbatim %}

<!-- Apps Craft Video Section -->
<div class="apps-craft-video-section" id="video-section" style="background-image: url(img/video-bg.jpg);">
    <div class="apps-craft-video-section-inner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="apps-craft-video-content">
                        <table>
                            <tr>
                                <td>{{ $t('video.q1') }}</td>
                                <td>{{ $t('video.a1') }}</td>
                            </tr>
                            <tr>
                                <td>{{ $t('video.q2') }}</td>
                                <td>{{ $t('video.a2') }}</td>
                            </tr>
                            <tr>
                                <td>{{ $t('video.q3') }}</td>
                                <td>{{ $t('video.a3') }}</td>
                            </tr>
                            <tr>
                                <td>{{ $t('video.q4') }}</td>
                                <td>{{ $t('video.a4') }}</td>
                            </tr>
                        </table>
                        <!--<h4>Video Demo</h4>-->
                        <!--<a href="https://www.youtube.com/watch?v=_bBvpQPq764" class="apps-craft-popup-video"><i class="zmdi zmdi-play-circle-outline zmdi-hc-fw"></i></a>-->
                    </div> <!-- .apps-craft-video-content END -->
                </div>
            </div>
        </div>
    </div>
</div> <!-- .apps-craft-video-section END -->

{% endverbatim %}
