{% verbatim %}

<!-- Apps Craft Welcome Section -->
<section class="apps-craft-welcome-section" style="background-image: url(img/welcome-bg.jpg);" id="apps-craft-home">
    <div class="apps-craft-position-rel hidden-xs">
        <div id="apps_craft_animation">
            <div class="layer" data-depth="0.20"><img src="img/home-gradiant-bg-1.png" alt="Home Gradient Background 1"></div>
            <div class="layer apps_craft_layer_z" data-depth="0.20"><img src="img/home-gradiant-bg-2.png" alt="Home Gradient Background 2"></div>
        </div>
    </div>
    <div class="apps-craft-welcome-container">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-8 col-xs-12">
                    <div class="apps-craft-welcome-tbl">
                        <div class="apps-craft-welcome-tbl-c">
                            <div class="apps-craft-welcome-content">
                                <h1><span>{{ $t("header.l1") }}</span><br>{{ $t("header.l2") }}<br> {{ $t("header.l3") }} <span>{{ $t("header.l4") }}</span></h1>

                                <div class="apps-craft-download-store-btn-group">
                                    <!--<a href="#" class="apps-craft-btn play-store-btn"><img src="img/logo/badoo.jpg" alt=""></a>-->
                                    <!--<a href="#" class="apps-craft-btn play-store-btn"><img src="img/logo/hot-or-not.jpg" alt=""></a>-->
                                    <!--<a href="#" class="apps-craft-btn play-store-btn"><img src="img/logo/tinder.jpg" alt=""></a>-->
                                    <a class="apps-craft-btn custom-store-btn"><img src="https://pbs.twimg.com/profile_images/849927483730407424/zOCwhvT2.jpg" alt=""></a>
                                    <a class="apps-craft-btn custom-store-btn"><img src="https://tinder.com/static/tinder.png" alt=""></a>
                                    <a class="apps-craft-btn custom-store-btn"><img src="https://honcdn.com/hon-1024x1024.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-4 hidden-xs text-right">
                    <div class="apps-craft-welcome-screenshort">
                        <div class="apps-craft-welcome-tbl">
                            <div class="apps-craft-welcome-tbl-c">
                                <figure class="apps-craft-welcome-section-screen-short">
                                    <img src="img/app-screen-short.png" alt="" class="wow fadeIn" data-wow-delay=".4s">
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Apps Craft About -->
    <!--<div class="apps-craft-about-section" id="apps-craft-about">-->
        <!--<div class="container">-->
            <!--<div class="row">-->
                <!--<div class="col-md-12">-->
                    <!--<div class="apps-craft-subscribe-content">-->
                        <!--<div class="wow fadeInUp" data-wow-delay="200ms">-->
                            <!--<h2><span>{{ $t("header.sub") }}</span> {{ $t("header.news") }}</h2>-->
                        <!--</div>-->
                        <!--<div class="apps-craft-subscribe-form apps-craft-subscribe-form-box-shadow clear-both wow fadeInUp" data-wow-delay="400ms">-->
                            <!--<form class="mc-form top">-->
                                <!--<input class="mc-email" id="mc-email-1"  :placeholder="$t('header.email')"  type="email" required="required">-->
                                <!--<input class="submit-btn"  type="submit" :value="$t('header.sub')">-->
                                <!--<label for="mc-email-1"></label>-->
                            <!--</form>-->
                        <!--</div> &lt;!&ndash; .apps-craft-subscribe-form END &ndash;&gt;-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div> &lt;!&ndash; .apps-craft-about-section END &ndash;&gt;-->
</section> <!-- .apps-craft-welcome-section END -->

{% endverbatim %}
