{% verbatim %}

<!-- Apps Crfat Why Chose Us Section -->
<section class="apps-craft-why-chose-us-section section-padding" id="apps-craft-chose-us" data-0="background-position:0px 10000px;" data-100000="background-position:0px -50000px;">
    <div class="container">
        <div class="apps-craft-section-heading">
            <h2>{{ $t("why.header") }}</h2>
        </div> <!-- .apps-craft-section-heading END -->
        <div class="row content-margin-top">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="apps-craft-why-choose-us-container clear-both">
                    <div class="apps-craft-why-choose-us-container-inner clear-both">
                        <div class="apps-craft-why-chose-single clear-both">
                            <div class="apps-craft-why-chose-ico">
                                        <span class="icon-lightbulb apps-craft-round">
                                            <span class="apps-craft-dash-border"></span>
                                        </span>
                            </div> <!-- .apps-craft-why-chose-ico END -->

                            <div class="apps-craft-why-chose-txt">
                                <h3>{{ $t("why.first.header") }}</h3>
                                <p>{{ $t("why.first.paragraph") }}</p>
                            </div> <!-- .apps-craft-why-chose-txt END -->
                        </div> <!-- .apps-craft-why-chose-single END -->
                        <div class="apps-craft-why-chose-single clear-both">
                            <div class="apps-craft-why-chose-ico">
                                        <span class="icon-wine apps-craft-round">
                                            <span class="apps-craft-dash-border"></span>
                                        </span>
                            </div> <!-- .apps-craft-why-chose-ico END -->

                            <div class="apps-craft-why-chose-txt">
                                <h3>{{ $t("why.second.header") }}</h3>
                                <p>{{ $t("why.second.paragraph") }}</p>
                            </div> <!-- .apps-craft-why-chose-txt END -->
                        </div> <!-- .apps-craft-why-chose-single END -->
                        <div class="apps-craft-why-chose-single clear-both">
                            <div class="apps-craft-why-chose-ico">
                                <span class="icon-trophy apps-craft-round"></span>
                            </div> <!-- .apps-craft-why-chose-ico END -->

                            <div class="apps-craft-why-chose-txt">
                                <h3>{{ $t("why.third.header") }}</h3>
                                <p>{{ $t("why.third.paragraph") }}</p>
                            </div> <!-- .apps-craft-why-chose-txt END -->
                        </div> <!-- .apps-craft-why-chose-single END -->
                    </div> <!-- .apps-craft-why-choose-us-container-inner END -->
                </div> <!-- .apps-craft-why-choose-us-container END -->
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12">
                <figure class="apps-craft-why-chose-img" itemscope itemtype="http://schema.org/ImageGallery">
                    <img src="img/choose-us-screenshort-1.png" class="wow fadeInRight" data-wow-delay=".8s" alt="Apps Craft Why Chose Image Screenshort">
                    <img src="img/choose-us-screenshort-2.png" class="wow fadeInRight" data-wow-delay=".4s"  alt="Apps Craft Why Chose Image Screenshort">
                </figure> <!-- .apps-craft-why-chose-img END -->
            </div>
        </div>
    </div>
</section> <!-- .apps-craft-why-chose-us-section END -->

{% endverbatim %}
