<p>Wysłałeś wiadomość do serwisu autodating.pl</p>
<br>
<p>Podany email: {{ email }}</p>
<br>
<p>Wiadomość:</p>

<p>{{ message }}</p>
<br>
<p>Odpowiemy tak szybko jak to możliwe</p>
<p>Zespół autodating.pl</p>
