<!DOCTYPE html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body class="apps-craft-v2">
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
